:root {
    --mainColor: #000000;
    --lightBlue: #5800FF;
    --pink: #E900FF;
    --orange: #FFC600;
    --mainFont: 'Alegreya Sans', sans-serif;
}
body{
    background-image: linear-gradient(to bottom right, var(--mainColor), var(--pink));
}
.navbar-custom{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom right, var(--mainColor), var(--pink));
    border-radius: 5px;
}
.mobileonly{
    display: none;
}
.link{
    color: var(--pink);
    text-decoration: none;
    font-size: 27px;
   
    font-family: var(--mainFont);
    cursor: pointer;
}
.link:hover{
    color: var(--orange);
}
.container-fluid{
    background-color: var(--mainColor);
}
.navbar-toggler-icon{
    color: white;
    transform: rotate(90deg);
    letter-spacing: 1px;
}
.nav-item{
    padding-left: 85px;
    padding-right: 85px;
}
.modal-title{
    font-family: var(--mainFont);
    color: var(--pink);
    font-size: 35px;
   
    text-align: center;
}
.modal-body{
    background-image: linear-gradient(to bottom left, var(--mainColor), var(--pink));
    border-radius: 5px;
}
.landingimage{
    display: block;
    width: 90%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   margin-top: 5px;

   box-shadow:0 1px 2px 3px var(--pink);
}
.modalLinks{
    list-style-type: none;
}
.mLink{
    color: var(--orange);
    text-decoration: none;
    font-size: 25px;
    margin-left: 2px;
    font-family: var(--mainFont);
   
}
.mLink:hover{
    color: var(--mainColor);
}
.linkLogo{
    height: 25px;
}
.close{
    font-family: var(--mainFont);
    font-size: 25px;
    text-decoration: none;
    color: var(--orange);
   
    cursor: pointer;
    border:solid 1px;
    border-radius: 2px;
    padding: 5px;
    margin-left: 30px;
}
.close:hover{
    color: var(--mainColor);
}
/*Landing*/
.mLonly{
    display: none;
}
/* about me styles. */
.aboutMe{
    font-size: 26px;
    background-color: var(--mainColor);
    color: var(--orange);
    font-family: var(--mainFont);
    padding: 5px;
    box-shadow: 10px 5px 5px var(--pink);
    text-align: center;
    border-radius: 5px;
}
.aMeTitle{
    color: var(--orange);
    font-family: var(--mainFont);
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
.custom-image{
    border-radius: 50%;
    height: 500px;
    box-shadow: 10px 5px 5px var(--pink);
}
.badgeTitle{
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--orange);
    font-family: var(--mainFont);
    font-weight: bold;
}
.badges{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.badge{
    margin: 15px;
}
.badge:hover{
    box-shadow: 10px 5px 5px var(--pink); 
    cursor: pointer;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .link{
        font-size: 20px;
    }
    .nav-item{
        padding-left: 15px;
    }
    .mobileonly{
        display: block;
        font-size: 30px;
        letter-spacing: 2px;
       
        font-family: var(--mainFont);
        color: var(--pink);
        margin-top: 15px;
    }
    .mLink{
        font-family: var(--mainFont);
    }
    /*Landing*/
    .mLonly{
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        border-radius: 2%;
    }
    /*about me*/
    
    .aboutMe{
        font-size: 20px;
    }
    .aMeTitle{
        font-size: 40px;
    }
    .custom-image{
        width: 100%;
        height: auto;
    }
    .badge{
        margin: 5px;
    }
}
/* Tablet*/

/*Smaller screenlike laptop */
@media only screen and (max-width: 1024px) and (min-width: 769) {
    .navbar-custom{
        width: 90%;
    }
.landingimage{
    width: 90px;
}
.nav-item {
    padding: 0;
}
.navbar-nav{
    width: 90%;
}
}
